#ref_img{
    background-image: url("https://i.ibb.co/9rXH4p0/Mesa-de-trabajo-15-copia-2-1-cleanup.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}